html {
    display: block;
    margin: 5px;
    max-width: 1024px;
    padding: 10px var(--lumo-space-l);
}

.button-layout {
    margin-bottom: var(--lumo-space-l);
    margin-top: var(--lumo-space-m);
}